<ngx-spinner  class="ball-scale-multiple"></ngx-spinner>
<h1 style="font-family: 'Times New Roman', Times, serif;">Welcome To E-Learning App !!!</h1>
    <div class="row">
        <div class="column left">
          <h3>New User?</h3>
          <p>Create Account to explore the variety of courses and unlock your true potentials...</p>
          <p>Click here to Register</p>
          <a routerLink="/register" id="link">Register</a>
        </div>
        <div class="column middle">
          <h3>Registered User?</h3>
          <p>Already Exisiting User? Login here to continue from where you left...</p>
          <p>Click here to Login</p>
          <a routerLink="/login" id="link">Login</a>
        </div>
        <div class="column right">
            <img src="assets/homepageimg1.jpg" alt="Learn To Become Professional" height="440px" width="100%">
        </div>
      </div>
<h2>Course category</h2>
<div class="row">
    <ng-container  *ngFor="let item of courses">
    <div class="col-4" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap" width="287px" height="180px">
        <div class="card-body">
          <h5 class="card-title">{{item.category}}</h5>
          <button routerLink="/coursesbytype/{{item.id}}" class="btn btn-primary">View Courses</button>
        </div>
      </div>
    </div>
    </ng-container>   
</div>